.card{
    border: 1px solid var(--brown);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.card h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--brown);
}
.card p{
    text-align: start;
}
.card table{
    text-align: start;
    margin: 10px 0;
}
.card table tr{
    margin: 10px 0;
}
.card table tr td{
    padding: 3px 10px;
}