.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--brown);
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 100;
}
.nav button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: var(--light-brown);
    border: 1px solid var(--brown);
    color: var(--brown);
    font-weight: 500;
    margin: 0 5px;
    transition: all 0.3s ease;
}
.nav button:hover{
    background-color: transparent;
    border: 1px solid var(--light-brown);
    color: var(--light-brown);
    cursor: pointer;
}
.headDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headText{
    font-size: 2rem;
    font-weight: bold;
    margin-right: 10px;
}
.cartDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: relative;
}
.cartCount{
    position: absolute;
    top: -12px;
    right: -20px;
    background-color: crimson;
    color: white;
    aspect-ratio: 1;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 25px;
}


