.outerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.leftDiv{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-brown);
}
.logo{
    width: clamp(300px, 80%, 500px);
    aspect-ratio: 1;
}
.rightDiv{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rightDiv h1{
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--brown);
    font-weight: bold;
}
.rightDiv label{
    font-size: 1.1rem;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--brown);
}
.form{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.btnAdmin{
    color: var(--brown);
    font-weight: bold;
}
.form input, .form button{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--brown);
    color: var(--brown);
    font-weight: 500;
    transition: all 0.3s ease;
}
.form button:hover{
    background-color: var(--brown);
    color: var(--light-brown);
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .outerDiv{
        flex-direction: column;
    }
    .logo{
        height: 80%;
        width: auto;
    }
    .leftDiv{
        width: 100%;
        height: 50%;
    }
    .rightDiv{
        width: 100%;
        padding: 5%;
    }
    .rightDiv h1{
        font-size: 2rem;
    }
    .form{
        width: 100%;
    }
    
}